<div class="page_layout">
    <div class="card">
        <!-- --------------------------------------------------------------------- -->
        <!-- -------------------------start Title section------------------------- -->
        <!-- --------------------------------------------------------------------- -->
        <div class="card-header d-flex py-1 ">
            <p class="card-header-title m-0">Post Leave Request</p>
            <div class="card-header-hint ms-auto d-flex align-items-center">
                <span class="material-icons flag_icon">
                    flag
                </span>
                <span>
                    Request No.
                </span>
            </div>
        </div>
        <!-- --------------------------------------------------------------------- -->
        <!-- --------------------------end Title section-------------------------- -->
        <!-- --------------------------------------------------------------------- -->
        <div class="card-body p-3 d-flex">
            <div class="row w-100 px-3">
                <!-- -----------------------------main part---------------------- -->
                <div class="col-12 col-md-9 p-0">
                    <!-- --------------------------------------------------------------------- -->
                    <!-- ---------------------------start search part------------------------- -->
                    <!-- --------------------------------------------------------------------- -->
                    <div class="row search w-100">
                        <div class="col-12 px-0">
                            <div class="dx-field d-flex align-items-center">
                                <div class="dx-field-label">
                                    <span class="material-icons px-1">
                                        travel_explore
                                    </span>
                                </div>
                                <div class="dx-field-value px-4">
                                    <dx-select-box [dataSource]="employees" displayExpr="display" [searchEnabled]="true"
                                        height="85%" width="70%" placeholder="Search Employee Name , Code or Job Title"
                                        (onValueChanged)="onSearchChanged($event)">
                                        <div *dxTemplate="let data of 'dropDownButton'">
                                            <img src="../../assets/images/reload.svg" class="custom-icon" />
                                        </div>
                                        <div *dxTemplate="let data of 'item'">
                                            <div class="custom-item search-item d-flex align-items-center">
                                                <img src="{{data.ImageSrc}}" />
                                                <div class="employee-name">
                                                    {{data.display}}
                                                </div>
                                            </div>
                                        </div>
                                    </dx-select-box>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- --------------------------------------------------------------------- -->
                    <!-- -----------------------------end search part------------------------- -->
                    <!-- --------------------------------------------------------------------- -->
                    <!-- --------------------------------------------------------------------- -->
                    <!-- -------------------------start employee details---------------------- -->
                    <!-- --------------------------------------------------------------------- -->
                    <div class="row w-100 my-1">
                        <div class="col-2 px-0">
                            <img src="../../assets/images/user.png" class="img-fluid user-img" />
                        </div>
                        <div class="col-12 col-lg-10  px-5 py-2 employee-details">
                            <p class="employee-name text-start mx-3 mb-0" *ngIf="employee.name !== '' ">
                                <span class="employee-code">{{employee.code}} || </span>
                                {{employee.name}}
                            </p>
                            <div class="row w-100">
                                <div class="col-12 col-lg-3 employee-details-label">
                                    <p class="mb-0">Job Title</p>
                                </div>
                                <div class="col-12 col-lg-9 employee-details-data">
                                    <p class="mb-0">{{employee.jobTitle}}</p>
                                </div>
                            </div>
                            <div class="row w-100">
                                <div class="col-12 col-lg-3 employee-details-label">
                                    <p class="mb-0">Salary Profile</p>
                                </div>
                                <div class="col-12 col-lg-9 employee-details-data">
                                    <p class="mb-0">{{employee.salaryProfile}}</p>
                                </div>
                            </div>
                            <div class="row w-100">
                                <div class="col-12 col-lg-3 employee-details-label">
                                    <p class="mb-0">Joining Data</p>
                                </div>
                                <div class="col-12 col-lg-9 employee-details-data">
                                    <p class="mb-0">{{employee.joiningData}}</p>
                                </div>
                            </div>
                            <div class="row w-100">
                                <div class="col-12 col-lg-3 employee-details-label">
                                    <p class="mb-0">Location</p>
                                </div>
                                <div class="col-12 col-lg-9 employee-details-data">
                                    <p class="mb-0">{{employee.location}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- --------------------------------------------------------------------- -->
                    <!-- -------------------------end employee details------------------------ -->
                    <!-- --------------------------------------------------------------------- -->
                    <!-- --------------------------------------------------------------------- -->
                    <!-- ----------------------start leave details form----------------------- -->
                    <!-- --------------------------------------------------------------------- -->
                    <div class="row w-100 my-1">
                        <div class="card">
                            <form [formGroup]="form" (submit)="saveRequest()">
                                <div class="card leave-details mt-3 px-4 pt-3 pb-5">
                                    <p class="leave-details-title"><span>Leave Details</span></p>
                                    <div class="row w-100">
                                        <div class="col-12 form-container">
                                            <div class="row mb-2">
                                                <div class="col-12 col-lg-3 leave-details-labels">
                                                    <label>Leave to Avail</label>
                                                </div>
                                                <div class="col-12 col-lg-3 d-flex">
                                                    <label class="radio-container">
                                                        <input type="radio" name="leaveToAvail" value="Abroad"
                                                            formControlName="leaveToAvail">
                                                        <span class="checkmark"></span>
                                                        Abroad
                                                    </label>
                                                    <label class="radio-container">
                                                        <input type="radio" name="leaveToAvail"
                                                            formControlName="leaveToAvail" value="Local"
                                                            checked="checked">
                                                        <span class="checkmark"></span>
                                                        Local
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row  mb-2">
                                                <div class="col-12 col-lg-3 leave-details-labels">
                                                    <label>Require Leave Salary Advance</label>
                                                </div>
                                                <div class="col-12 col-lg-3 d-flex">
                                                    <label class="radio-container">
                                                        <input type="radio" name="salaryAdvance" value="yes"
                                                            formControlName="salaryAdvance">
                                                        <span class="checkmark"></span>
                                                        Yes
                                                    </label>
                                                    <label class="radio-container">
                                                        <input type="radio" name="salaryAdvance"
                                                            formControlName="salaryAdvance" value="no"
                                                            checked="checked">
                                                        <span class="checkmark"></span>
                                                        No
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row date align-items-center  mb-2">
                                                <div class="col-12 col-lg-3 leave-details-labels">
                                                    <label>Expected Leaving Date</label>
                                                </div>
                                                <div class="col-12 col-lg-3">
                                                    <dx-date-box [value]="dateNow" width="100%" hight="50%" type="date"
                                                        (onValueChanged)="onLeavingDateChanged($event)">
                                                    </dx-date-box>
                                                </div>
                                                <div class="col-12 col-lg-3 leave-details-labels">
                                                    <label>Expected Rejoining Date</label>
                                                </div>
                                                <div class="col-12 col-lg-3">
                                                    <dx-date-box width="100%" hight="50%" type="date"
                                                        (onValueChanged)="onRejoiningDateChanged($event)">
                                                    </dx-date-box>
                                                </div>
                                            </div>
                                            <div class="row  mb-2">
                                                <div class="col-12 col-lg-3 leave-details-labels">
                                                    <label>Expected End Date</label>
                                                </div>
                                            </div>
                                            <div class="row m-auto mb-2" formArrayName="leaveTypes">
                                                <div class="col-12 leavingType">
                                                    <div class="row align-items-center py-1"
                                                        *ngFor="let section of leaveTypeFormGroup.controls; let i = index;">
                                                        <div class="col-12 col-lg-2 leave-details-labels">
                                                            <label *ngIf="i === 0">{{i+1}}st Leave Type</label>
                                                            <label *ngIf="i === 1">{{i+1}}nd Leave Type</label>
                                                            <label *ngIf="i === 2">{{i+1}}rd Leave Type</label>
                                                            <label *ngIf="i > 2">{{i+1}}th Leave Type</label>
                                                        </div>
                                                        <div class="col-12 col-lg-4">
                                                            <dx-select-box [dataSource]=" leaveType"
                                                                [searchEnabled]="true" height="85%" width="100%"
                                                                placeholder="--please select leave type--"
                                                                stylingMode="filled"
                                                                (onValueChanged)="leaveTypeChange($event , i)">
                                                            </dx-select-box>
                                                        </div>
                                                        <div class="col-12 col-lg-4 leave-details-labels">
                                                            No. of Days
                                                        </div>
                                                        <div [formGroupName]="i" class="col-12 col-lg-3">
                                                            <input class="form-control numofdays"
                                                                formControlName="numofdays" type="text"
                                                                placeholder="Enter numb.">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 addLeaveTypesection">
                                                    <button class="addLeaveTypeBtn mx-auto mt-0" type="button"
                                                        (click)="addLeaveType()">
                                                        <span class="material-icons">
                                                            add_circle_outline
                                                        </span>
                                                    </button>
                                                </div>
                                                <div class="row tolalsDays my-2">
                                                    <div class="col-6"></div>
                                                    <div class="col-6  d-flex align-items-center">
                                                        <span class="material-icons">
                                                            event_available
                                                        </span>
                                                        Tolals Days
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-lg-6">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            Guarantor
                                                        </div>
                                                        <div class="card-body d-flex justify-content-center">
                                                            <dx-select-box [dataSource]="guarantors"
                                                                [searchEnabled]="true" height="85%" width="60%"
                                                                margin="auto" placeholder="Select an Option"
                                                                (onValueChanged)="onGuarantorsChange($event)">
                                                            </dx-select-box>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-6">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            Replacement
                                                        </div>
                                                        <div class="card-body mx-3 mb-0">
                                                            <dx-select-box [dataSource]="replacement"
                                                                [searchEnabled]="true" height="85%" width="80%"
                                                                margin="auto" placeholder="Select an Option"
                                                                (onValueChanged)="onReplacementChange($event)">
                                                            </dx-select-box>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            Contact Details During Leave
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="row  align-items-center">
                                                                <div class="col-6 col-lg-3 mb-2 leave-details-labels">
                                                                    <label>Address</label>
                                                                </div>
                                                                <div class="col-6 col-lg-3 mb-2">
                                                                    <input type="text" formControlName="address"
                                                                        class="form-control form-control-sm" />
                                                                </div>
                                                                <div class="col-6 col-lg-3 mb-2 leave-details-labels">
                                                                    <label>Contact No.</label>
                                                                </div>
                                                                <div class="col-6 col-lg-3 mb-2">
                                                                    <input type="text" formControlName="contactNo"
                                                                        class="form-control form-control-sm" />
                                                                </div>
                                                            </div>
                                                            <div class="row mb-2 align-items-center">
                                                                <div class="col-6 col-lg-3 leave-details-labels">
                                                                    <label>Email</label>
                                                                </div>
                                                                <div class="col-6 col-lg-3">
                                                                    <input type="text" formControlName="email"
                                                                        class="form-control form-control-sm" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div class="col-12 col-lg-6">
                                        <div class="card remarks">
                                            <div class="card-header">
                                                Remarks
                                            </div>
                                            <div class="card-body">
                                                <textarea class="form-control" formControlName="remarks"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6 ">
                                        <div class="card attachments">
                                            <div class="card-header">
                                                Attachments
                                            </div>
                                            <div class="card-body ">
                                                <div class=" d-flex align-items-center">
                                                    <div class="input_file_container">
                                                        <input dir="ltr" type="file" id="file_input"
                                                            (change)="getNameOfFile($event)">
                                                        <span id="file_name" *ngIf="fileUploaded">File is
                                                            Uploaded</span>
                                                    </div>
                                                    <label for="file_input"
                                                        class="input_file_label mx-2 d-flex align-items-center">
                                                        <span class="material-icons">
                                                            attach_file
                                                        </span>
                                                    </label>
                                                </div>
                                                <span class="hint d-flex align-items-center">
                                                    <span class="material-icons mr-1">
                                                        error
                                                    </span>
                                                    Max File Size 1MB
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4 mb-3">
                                    <div class="col-12 d-flex justify-content-center">
                                        <button class="cancelBtn" routerLink="/view-requests">Cancel</button>
                                        <button class="mx-1 submitBtn" type="submit" [disabled]="!form.valid">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- ------------------------------------------------------------ -->
                <!-- -------------------------start side part-------------------- -->
                <!-- ------------------------------------------------------------ -->
                <div class="col-12 col-md-3  p-0">
                    <div class="sideBar">
                        <p class="sideBar-header  mb-0">
                            Annual leave Balance as on Thu , May 06 , 2021
                        </p>
                        <div class="sideBbar-body px-1 pt-1 pb-2">
                            <p class="sideBar-header mb-0">
                                Annual leave
                            </p>
                            <div class="sideBar-section">
                                <div class="row sideBar-subSection">
                                    <div class="col-8">
                                        Annual Leave Entitlement
                                    </div>
                                    <div class="col-4">

                                    </div>
                                    <div class="col-12 sideBar-line"> </div>
                                    <div class="col-8">
                                        Annual Leave Balance
                                    </div>
                                    <div class="col-4">
                                        Day(s)
                                    </div>
                                    <div class="col-12 sideBar-line"> </div>
                                    <div class="col-8">
                                        Al Bal. Till Year End
                                    </div>
                                    <div class="col-4">
                                        Day(s)
                                    </div>
                                    <div class="col-12 sideBar-line"> </div>
                                </div>
                                <p class="sideBar-header mb-0">
                                    Extra days
                                </p>
                                <div class="sideBar-section">
                                    <div class="row sideBar-subSection">
                                        <div class="col-8">
                                            Extra Days Balance
                                        </div>
                                        <div class="col-4">
                                            Day(s)
                                        </div>
                                        <div class="col-12 sideBar-line"> </div>
                                    </div>
                                </div>
                                <p class="sideBar-header mb-0">
                                    Sick Leave
                                </p>
                                <div class="sideBar-section">
                                    <div class="row sideBar-subSection">
                                        <div class="col-8">
                                            Sick Leave(s) Taken
                                        </div>
                                        <div class="col-4">
                                            Day(s)
                                        </div>
                                        <div class="col-12 sideBar-line"> </div>
                                    </div>
                                </div>
                                <p class="sideBar-header mb-0">
                                    Unpaid Leaves
                                </p>
                                <div class="sideBar-section">
                                    <div class="row sideBar-subSection">
                                        <div class="col-8">
                                            Unpaid Leave Taken
                                        </div>
                                        <div class="col-4">
                                            Day(s)
                                        </div>
                                        <div class="col-12 sideBar-line"> </div>
                                    </div>
                                </div>
                                <p class="sideBar-header mb-0">
                                    Leaves in progress
                                </p>
                                <div class="sideBar-section">
                                    <div class="row sideBar-subSection">
                                        <div class="col-8">
                                            Annual leave
                                        </div>
                                        <div class="col-4">
                                            Day(s)
                                        </div>
                                        <div class="col-12 sideBar-line"> </div>
                                        <div class="col-8">
                                            Extra days
                                        </div>
                                        <div class="col-4">
                                            Day(s)
                                        </div>
                                        <div class="col-12 sideBar-line"> </div>
                                        <div class="col-8">
                                            Sick Leave
                                        </div>
                                        <div class="col-4">
                                            Day(s)
                                        </div>
                                        <div class="col-12 sideBar-line"> </div>
                                        <div class="col-8">
                                            Unpaid leaves
                                        </div>
                                        <div class="col-4">
                                            Day(s)
                                        </div>
                                        <div class="col-12 sideBar-line"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ------------------------------------------------------------ -->
                <!-- -------------------------end side part---------------------- -->
                <!-- ------------------------------------------------------------ -->
            </div>
        </div>
    </div>