/* ----------------------------------- */
/* ------------search bar------------- */
/* ----------------------------------- */
.search{
    background-color: var(--bgHeaderCard);
}
.search .material-icons{
    width: 35px;
    height: 25px;
    color: #24298f;
}
.search .custom-icon{
    width: 12px;
    height: 12px;
}
.search .dx-field-label {
    width: auto ; 
    padding:0;
    height: 100%;
    display: flex;
    align-items: center;
}    
.search .dx-field-value{
    border-left: 1.5px #a5a4a4 solid;
}
.search-item img{
    height: 40px;
    width: 40px;
}
.employee-name{
    font-size: 12px;
    font-weight: bold;
    font-family: 'poppinsFont';
    margin: 0 15px;
}
/* --------------------------------------- */
/* -----------employee details------------ */
/* --------------------------------------- */
.user-img{
    height: 150px;
    width: 100%;
}
.employee-details{
    background-color: #f1f1f3;
    border-left: 4px solid #313696;
}
.employee-name{
    font-weight: bold;
}
.employee-code{
    font-weight: lighter;
}
.employee-details-label{
    text-align: right;
    font-weight: bold;
}
@media (max-width: 768px) { 
    .employee-details-label{
        text-align: left;
    }
 }
.employee-details-data{
    text-align: left;
}
/* ----------------------------------- */
/* -----------leave-details----------- */
/* ----------------------------------- */
.leave-details-title{
    margin-top: -2.8%;
    font-weight: bolder;
    font-size: 18px;
}
.leave-details-title span{
   background-color: white;
}
.leave-details-labels{
    text-align: right;
}
@media (max-width: 768px) { 
    .leave-details-labels{
    text-align: left;
}
 }
/* ----------------------------------- */
/* ----------------form--------------- */
/* ----------------------------------- */
form{
    font-size: 12px;
}
.form-container{
    padding-right: 0;
}
input::placeholder{
   font-size: 12px;
}
form .card-header{
    font-size: 14px;
    font-weight: bold;
}
/* -----------style radio box----------- */
/* radio container */
.radio-container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* hide default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* style radio button */
.checkmark {
  position: absolute;
  top: 15%;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the radio button is checked */
.radio-container input:checked ~ .checkmark {
  background-color: white;
  border: 2px solid black;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
    top: 30%;
    left: 30%;
    width: 5px;
    height: 5px;
	border-radius: 50%;
	background: black;
}
/* ------------leavingType ( Dynamic section )------------ */
.leavingType{
    background-color: var(--bgDynamicSection);
    border-radius: 5px;
}.numofdays{
    width: 50%;
}
.addLeaveTypesection{
    text-align: center;
}
.addLeaveTypeBtn{
    background-color: var(--bgDynamicSection);
    color: var(--colorHints);
    border: 0;
    padding: 0px 50px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.tolalsDays{
    font-size: 12px;
}
.tolalsDays .material-icons{
    font-size: 16px;
}
/* --------------remarks------------- */
.remarks .card-body{
    padding: 10px 54px 20px 20px;
}
/* ----------input[file]--------- */
input[type=file] {
  display: none;
}
#file_name{
  padding:  0 5px;
  display: inline-block;
  margin: auto;
}
.input_file_label{
    margin: 0;
    padding: 5px;
    color: var(--colorHints) ;
    height: 100%;
    transform: rotate(135deg);
}
.input_file_label .material-icons{
    font-size: 16px;
}
.input_file_container{
  width: 80%;
  height: 30px;
  display: flex;
  border: 0.2px solid #e0e0e0;  
  flex-direction: row-reverse;
  border-radius: 4.3px;
  align-items: center;
}
/* ----------------textarea------------- */
textarea{
    height: 90%;
}
/* ---------------remarks & attachments----------- */
.remarks .card-body , .attachments .card-body{
    height: 120px;
}
.hint{
 color: var(--colorHints);
 font-size: 10px;
}
.hint .material-icons{
    font-size: 13px;
}
/* ---------------buttons--------------- */
.cancelBtn , .submitBtn{
    border: 0;
    border-radius: 5px;
    padding: 2px 8px;
}
.cancelBtn{
    background-color: var(--bgCancelBtn);
}
.submitBtn{
    background-color: var(--bgSubmitBtn);
    color: white;
}
.submitBtn[disabled]{
    cursor: not-allowed;
    opacity: 0.5;
}
/* -----------------------sideBar------------------ */
.sideBar{
    background-color: var(--bgHeaderCard);
    font-size: 10px;
    color: black;
}
.sideBar-header{
    font-weight: bolder;
}
.sideBar-line{
    background-image: linear-gradient(to left, var(--bgHeaderCard),white, var(--bgHeaderCard));
    width: 95%;
    margin: auto;
    height: 2px;
}
.sideBar-subSection{
    padding-left: 5px;
    padding-right: 5px;
}