.manage_request{
    background-color: var(--bgPages);
    padding: 10px 15px;
}
/* ------------------card---------------- */
.card-header{
    border-bottom: 1px solid black ;
}
.card-header-hint{
    font-weight: bolder;
}
/* ----------------------------------- */
/* ------------search bar------------- */
/* ----------------------------------- */
.search{
    width: 100%;
}
.search .material-icons{
    width: 35px;
    height: 25px;
    color: #24298f;
}
.search .custom-icon{
    width: 12px;
    height: 12px;
}
.search .dx-field-label {
    width: auto ; 
    padding:0;
    height: 100%;
    display: flex;
    align-items: center;
}  
.search-item img{
    height: 40px;
    width: 40px;
}
.employee-name{
    font-size: 12px;
    font-weight: bold;
    font-family: 'poppinsFont';
    margin: 0 15px;
}
/* --------------icons----------------- */
.world-icon{
    background: transparent;
    border: 1px solid var(--colorHints);
    border-radius: 9px;
    text-align: center;
    display: flex;
    align-items: center;
    color: var(--colorHints);
    height: 30px;
    width: 30px;
}
.world-icon .material-icons{
    font-size: 16px;
}
.search-icon{
    background: var(--colorHints);
    border: 1px solid var(--colorHints);
    border-radius: 9px;
    text-align: center;
    display: flex;
    align-items: center;
    color: white;
    height: 30px;
    width: 30px;
}
.search-icon .material-icons{
    font-size: 16px;
}
.icons button{
    border: 0;
    background: transparent;
}
.icons .material-icons{
    color: #24298f;
    font-size: 18px;
    margin: 0 5px;
    cursor: pointer;
}
.border_icons{
    height: 100%;
    width: 2px;
    background-image: linear-gradient(to top, white, var(--bgHeaderCard),white);
}
/* --------------pagintation----------------- */
.pagintation .form-select{
    width: auto;
}