<div class="page_layout">
    <div class="card">
        <!-- --------------------------------------------------------------------- -->
        <!-- -------------------------start Title section------------------------- -->
        <!-- --------------------------------------------------------------------- -->
        <div class="card-header row d-flex py-1 ">
            <p class="card-header-title m-0 col-12 col-sm-6 ">Manage Leave Request</p>
            <div class="card-header-hint ms-auto d-flex  align-items-center col-12 col-sm-6 ">
                <span>
                    You have (25) Application(s)
                </span>
            </div>
        </div>
        <!-- --------------------------------------------------------------------- -->
        <!-- --------------------------end Title section-------------------------- -->
        <!-- --------------------------------------------------------------------- -->
        <div class="card-body p-3">
            <div class="row w-100">
                <div class="col-12 px-3">
                    <div class="row mb-5 mt-2">
                        <div class="col-12 col-sm-6 my-1  d-flex align-items-center">
                            <button class="world-icon">
                                <span class="material-icons">
                                    language
                                </span>
                            </button>
                            <div class="search px-4">
                                <dx-select-box [dataSource]="employees" displayExpr="display" [searchEnabled]="true"
                                    height="85%" width="100%" placeholder="Search Employee Name , Code or Job Title"
                                    (onChange)="onSearchChanged($event)">
                                    <div *dxTemplate="let data of 'dropDownButton'">
                                        <img src="../../assets/images/reload.svg" class="custom-icon" />
                                    </div>
                                    <div *dxTemplate="let data of 'item'">
                                        <div class="custom-item search-item d-flex align-items-center">
                                            <img src="{{data.ImageSrc}}" />
                                            <div class="employee-name">
                                                {{data.display}}
                                            </div>
                                        </div>
                                    </div>
                                </dx-select-box>
                            </div>
                            <button class="search-icon">
                                <span class="material-icons">
                                    search
                                </span>
                            </button>
                        </div>
                        <div class="col-12 col-sm-6 my-1   d-flex justify-content-end icons">
                            <div class="border_icons"></div>
                            <button routerLink="/create-request">
                                <span class="material-icons">
                                    add
                                </span>
                            </button>
                            <div class="border_icons"></div>
                            <button>
                                <span class="material-icons">
                                    edit
                                </span>
                            </button>
                            <div class="border_icons"></div>
                            <button>
                                <span class="material-icons">
                                    remove_red_eye
                                </span>
                            </button>
                            <div class="border_icons"></div>
                            <button>
                                <span class="material-icons">
                                    check
                                </span>
                            </button>
                            <div class="border_icons"></div>
                            <button>
                                <span class="material-icons">
                                    delete
                                </span>
                            </button>
                            <div class="border_icons"></div>
                            <button>
                                <span class="material-icons">
                                    print
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row w-100 ">
                <div class="col-12 ">
                    <dx-data-grid id="gridContainer" [dataSource]="requests" [showColumnLines]="false"
                        [showRowLines]="true" width="100%" #targetDataGrid>

                        <dxo-selection mode="single"></dxo-selection>

                        <dxo-paging [pageSize]="10"></dxo-paging>
                        <dxo-pager [showInfo]="true" infoText="Page {0} of {1}" [showNavigationButtons]="true"
                            [visible]="false">
                        </dxo-pager>
                        <!-- -----------------------search---------------------- -->
                        <!-- <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"
                            placeholder="Search Employee Name , Code or Job Title" [width]="350">
                        </dxo-search-panel> -->
                        <!-- -----------------------edits---------------------- -->
                        <!-- <dxo-editing mode="row" [allowUpdating]="true">
                        </dxo-editing> -->
                        <!-- -----------------------columns--------------------- -->
                        <dxi-column dataField="reqNo" caption="Req No" width="auto">
                        </dxi-column>
                        <dxi-column dataField="code" caption="Code" width="auto">
                        </dxi-column>
                        <dxi-column dataField="employeeName" caption="Employee Name" width="auto">
                        </dxi-column>
                        <dxi-column dataField="jobTitle" caption="job Title" width="auto">
                        </dxi-column>
                        <dxi-column dataField="salaryProfile" caption="Salary Profile" width="auto">
                        </dxi-column>
                        <dxi-column dataField="expectedLeaveStartDate" caption="Expected Leave Start Date" width="auto">
                        </dxi-column>
                        <dxi-column dataField="expectedLeaveRejoinDate" caption="Expected Leave Rejoin Date"
                            width="auto">
                        </dxi-column>
                        <dxi-column dataField="actualLeaving" caption="Actual Leaving" width="auto">
                        </dxi-column>
                        <dxi-column dataField="leaveType" caption="Leave Type" width="auto">
                        </dxi-column>
                    </dx-data-grid>
                </div>
            </div>
            <div class="row w-100 my-3">
                <div class="col-6">

                </div>
                <div class="col-6 pagintation d-flex justify-content-end ">
                    <select class="form-select form-select-sm" (change)="pagintation($event)">
                        <option *ngFor="let page of arrayOfPages; let i = index" [value]="page">
                            page {{page}} of {{numberOfPages}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>