<!-- ---------------------------------------------------- -->
<!-- -----------------------start nav-------------------- -->
<!-- ---------------------------------------------------- -->
<nav class="navbar pt-1">
  <div class="container-fluid">
    <div class=" d-flex align-items-center">
      <span class="material-icons m-auto ">
        view_headline
      </span>
      <img class="company_logo" src="../assets/images/logo.png" />
      <a class="navbar-brand" href="#">
        <div class="d-flex align-items-end">
          <p class="company_name"> CIVILSOFT <span class="company_name_ext">HCMS</span></p>
        </div>
      </a>
    </div>
    <div class=" ms-auto align-items-center d-none d-sm-flex">
      <li class="nav-item notifications">
        <span class="material-icons">
          notifications
        </span>
      </li>
      <li class="nav-item">
        <img src="../assets/images/profile.jfif" class="profile_img" />
      </li>
      <li class="nav-item dropdown  d-flex">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Amila Udana
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">Requests</a></li>
          <li><a class="dropdown-item" href="#">Massages</a></li>
        </ul>
      </li>
    </div>
  </div>
</nav>
<!-- ---------------------------------------------------- -->
<!-- -------------------------end nav-------------------- -->
<!-- ---------------------------------------------------- -->
<router-outlet></router-outlet>
<!-- ---------------------------------------------------- -->
<!-- ----------------------start footer------------------ -->
<!-- ---------------------------------------------------- -->
<footer class="row w-100">
  <div class="col-12 d-flex align-items-center footer">
    <p>Powered by <span class="company-name">CivilSoft2021</span> All Rights Reserved</p>
  </div>
</footer>