.navbar{
    background-color: var(--bgNavbar);
    padding-bottom: 0;
    padding-top: 0;
}
.navbar-brand{
    color: white;
    padding-bottom: 0;
}
.company_logo{
    width: 20px;
    height: 20px;
    margin: 5px 12px 5px;
}
.company_name{
    margin-bottom: 0;
    border-left: 3px solid white;
    padding: 8px 0px 0 10px;
    font-size: 30px;
}
.company_name_ext{
    font-size: 18px;
    font-weight: 400;
}
.nav-item::marker{
    font-size: 0;
} 
#navbarDropdown{
    color: white !important;
    font-size: 14px;
    padding: 0;
}
.notifications{
    color: white;
    font-size: 12px;
}
.profile_img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 0 10px;
    border: 2px solid white;
}
/* -----------------footer------------------ */
.footer{
    font-size: 10px;
    text-align: center;
    justify-content: center;
    border-top: 2px solid var(--colorHints) ;
}
.footer .company-name{
    color: var(--colorHints);
}