/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: poppinsFont;
  src: url(./assets/fonts/Poppins-Regular.ttf);
}
html, body { height: 100%; }
body { margin: 0 }

/* ----------variables---------- */
:root {
  /* -------bgColors-------- */
  --bgNavbar: #eb3f43;
  --bgPages:#f9f9f9;
  --bgHeaderCard :#d3d3d3;
  --bgDateBtn: #eeeeee;
  --bgDynamicSection:#f5f5f5;
  --bgSubmitBtn:#24298f;
  --bgCancelBtn:#ebebeb;
  /* -------colors-------- */
  --colorHeaderCard:#1c2e39;
  --colorHints:#242a8e;
}
.root{
  font-family: poppinsFont;
}

.page_layout{
    background-color: var(--bgPages);
    padding: 10px 15px;
}
/* ------------------card---------------- */
.card{
    border-radius: 0;
}
.card-header{
    background-color: var(--bgHeaderCard);
    border-radius: 0;
    color: var(--colorHeaderCard);
    font-size: 18px;
}
.card-header .card-header-title{
    font-weight: 500;
}
.card-header .card-header-hint{
    font-weight: 500;
    font-size: 10px;
}
.card-header .flag_icon{
    font-size: 16px;
    color: #a6a6a6;
}
.card-body{
    padding: 15px;
}

/* ---------------style date box--------------- */
.date .dx-dropdowneditor-button.dx-button-mode-contained{
  background: var(--bgDateBtn) !important;
}
.date .dx-dropdowneditor-button-visible .dx-texteditor-input{
  border: 2px solid  var(--bgDateBtn) ;
}
.date .dx-texteditor.dx-editor-outlined{
  border: 0;
}
/* ------------------------ */
.leavingType .dx-texteditor-container {
  background: var(--bgDynamicSection) !important;
  border: #c5c5c5;
  border-radius: 5px;
}
/* -------------------style grid------------------ */
.dx-header-row{
  background-color: #d3d3d3;
  color: #2a2a2a;
  font-weight: bolder;
}
.dx-header-row td{
  text-align: center !important;
}
.dx-row.dx-data-row.dx-row-lines {
  background-color: #fafafa;
}
.dx-row.dx-data-row.dx-row-lines td{
  text-align: center !important;
  padding: 15px 0;
}
.dx-datagrid-search-panel{
  /* margin-top: -100px; */
}